/* Custom Normalize */
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
article, aside, footer, header, nav, section {
	display: block;
}
figcaption, figure, main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b, strong {
	font-weight: inherit;
}
b, strong {
	font-weight: bolder;
}
code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
audio, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button, input, optgroup, select, textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button, input {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details, menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
/* End Normalize */

body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #C792EA;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.hero-area {
	background: url(../images/hero-faded.png);
	background-position: center;
	background-size: cover;
}
h1, h2, .color {
	color: #212121;
}
h1, h2, #extract-button, #clear-button {
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
}
h1 {
	padding: 1em 0 0 0;
	font-size: 3em;
	letter-spacing: 8px;
}
h2 {
	padding: .75em 0 .75em 0;
	font-size: 1.5em;
	letter-spacing: 2px;
}
label, input {
	font-family: 'Open Sans', sans-serif;
}
.title-purple {
	color: #C792EA;
}
#color-container {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	background-color: #ffffff;
}
#radio-wrapper {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 650px;
	padding: .5em;
	font-size: 1em;
}
#input, #palette-key-area {
	display: block;
	width: 650px;
	height: 100px;
	margin: 0 auto;
	border: 2px solid #C792EA;
	background-color: #ffffff;
	padding: 1em;
	resize: none;
}
#input::placeholder {
	line-height: 1.4;
}
#input::placeholder, .color, #color-container,
.tip-text, #version, #website-link, #please-contribute,
#new-question, #follow-up, #yes-save, #do-not-save,
#save-button {
	font-family: 'Open Sans', sans-serif;
}
#input:focus, #extract-button:focus, #clear-button:focus,
#name-input:focus, .color:focus {
	outline: none;
}
#palette-key-area {
	display: none;
	min-height: 100px;
	margin-bottom: 25px;
	justify-content: space-around;
	flex-wrap: wrap;
}
.indiv-key {
	display: block;
	height: 40px;
	margin: .25em;
	border: none;
	padding: .75em;
	border-radius: 4px;
	background-color: #64B5F6;
	color: #ffffff;
}
.indiv-key:hover {
	opacity: .9;
}
#new-question {
	display: none;
}
#extract-button {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 1.5em;
	color: #ffffff;
	line-height: 1.5;
	padding: .5em 1.5em;
	border: none;
	background: #C792EA;
	box-shadow: 0 2px 0 0 #a87bc6;
	border-radius: 6px;
}
#clear-button {
	display: none;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 1.5em;
	color: #ffffff;
	line-height: 1.5;
	padding: .5em 1.5em;
	border: none;
	background: #FF5572;
	box-shadow: 0 2px 0 0 #d7425b;
	border-radius: 6px;
}
#new-question, #follow-up {
	display: none;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 1em;
	font-size: 1.25em;
	color: #212121;
	background-color: rgba(255,255,255,.5);
	width: 500px;
	border-radius: 6px;
}
#yes-save, #do-not-save {
	margin: 1em;
	padding: .5em;
	border: none;
	border-radius: 4px;
}
#yes-save {
	background-color: #B5FF84;
	box-shadow: 0 2px 0 0 #98e963;
}
#do-not-save {
	background-color: #ff5572;
	box-shadow: 0 2px 0 0 #d7425b;
}
#follow-up {
	display: none;
}
#name-input {
	border: 2px solid #64B5F6;
	margin: .5em;
	padding: .5em;
	line-height: normal;
}
#save-button {
	margin: .5em;
	padding: .5em;
	border: none;
	border-radius: 4px;
	background-color: #64B5F6;
	box-shadow: 0 2px 0 0 #2696f2;
}
.tip-text, #version,
#website-link, a, #please-contribute,
#save-button {
	color: #ffffff;
}
#extract-button:hover, #clear-button:hover, #yes-save:hover, #do-not-save:hover {
	opacity: .9;
	transform: translateY(-1px);
	cursor: pointer;
}
#extract-button:active, #clear-button:active {
	transform: translateY(1px);
	box-shadow: none;
}
.color {
	width: 12.5%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
	border: 0;
}
.color:hover {
	border: 4px dashed #ffffff;
	cursor: pointer;
}
.color:active {
	transform: scale(1.1);
}
p {
	margin: 0;
}
.none-valid {
	font-size: 2em;
	width: 650px;
	margin: 0 auto;
	padding: 1em;
	color: #FF5572;
	width: 100%;
}
.footer-area {
	background-color: #C792EA;
}
#footer-content {
	width: 650px;
	margin: 0 auto;
}
.information-icon {
	display: block;
	margin: 0 auto;
	padding: 1em;
	width: 75px;
}
.tip-text, #version {
	font-size: 1.5em;
	padding-bottom: 1em;
}
#footer-header {
	color: #ffffff;
	padding: 0;
	font-size: 2em;
}
#version {
	font-size: .9em;
}
.github-icon {
	padding: 1em;
	width: 50px;
}
.github-icon:hover, #twitter-logo:hover {
	opacity: .7;
}
#twitter-logo {
	padding: .75em;
	width: 30px;
}
@media screen and (max-width: 700px) {
	#input, #radio-wrapper, #palette-key-area, #footer-content {
		width: 85%;
	}
	.color {
		width: 16.666667%;
	}
}
@media screen and (max-width: 500px) {
	.color {
		width: 25%;
	}
}